Write a program to demonstrate basic data type in python
"Hello, World!" Program

In [47]:
print("hello world")

hello world

Program to Print an Integer (Entered by the User)

In [4]:
int(input("enter a number "))

enter a number 10

10

Program to Add Two Integers

In [18]:
x=int(input("enter 1 st number "))
y=int(input("enter 2nd no "))
z=x+y
z

enter 1 st number 5
enter 2nd no 5

10

Program to Multiply Two Floating-Point Numbers

In [14]:
x=float(input("enter 1 st number "))
y=float(input("enter 1 st number "))
z=x*y
float(z)

enter 1 st number 2.5
enter 1 st number 1.5

3.75

Program to Compute Quotient and Remainder

In [33]:

a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))
quotient = a//b
remainder = a%b
print("Quotient is", quotient)
print("Remainder is:", remainder)

Enter the first number: 45
Enter the second number: 4
Quotient is 11
Remainder is: 1

Program to Swap Two Numbers

In [40]:

x = input('Enter value of x: ')
y = input('Enter value of y: ')
temp = x
x = y
y = temp
print('The value of x after swapping: {}'.format(x))
print('The value of y after swapping: {}'.format(y))

Enter value of x: 55
Enter value of y: 45
The value of x after swapping: 45
The value of y after swapping: 55

Program to Check Whether a Number is Even or Odd

In [43]:
p=int(input('enter a value: '))
if p%2==0:
  print("its a even number")
else:
  print('its is a odd number')

enter a value: 4
its a even number

Program to Check Whether a Character is a Vowel or Consonant

In [46]:
x = input("Enter a character: ")

if(x=='A' or x=='a' or x=='E' or x =='e' or x=='I'
 or x=='i' or x=='O' or x=='o' or x=='U' or x=='u'):
    print(x, "is a Vowel")
else:
    print(x, "is a Consonant")

Enter a character: a
a is a Vowel